{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ],
  "include": "**/*.js",
  "exclude": "**/*.ts"
}
