version: '3'
services:
  redis:
    image: redis:6.2.6
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
      - redis_logs:/logs
    command: ["redis-server","/etc/redis/redis.conf"]

volumes:
  redis_data:
  redis_logs: